/* LESS import*/
html,
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
}
/* Fonts*/
@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway.ttf") format("truetype");
}
@font-face {
  font-family: "raleway-bold";
  src: url("../fonts/raleway-bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
}
/*Общее*/
body {
  font-family: "roboto", sans-serif;
  background-color: #f8f8f8;
  font-size: 16px;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-weight: 700;
}
h2 {
  text-transform: uppercase;
  line-height: 1.5;
}
span.bold-font {
  font-weight: 700;
}
/*Шапка*/
.header {
  height: 250px;
  position: relative;
}
.header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header .bg-0 {
  background: url("../img/bg-3.jpg") no-repeat;
  background-size: cover;
  z-index: -2;
}
.header .bg-1 {
  background-color: #000;
  z-index: -1;
  opacity: 0.2;
}
.header .header-group {
  max-width: 1200px;
  margin: 0 auto 30px;
  box-sizing: border-box;
}
.header .header-group .logo {
  margin: 24px 10px 0 70px;
  float: left;
}
.header .header-group .social-list-group {
  float: right;
  margin: 49px 56px 0 0;
  font-size: 0;
}
.header .header-group .social-list-group a {
  padding: 5px;
  margin: 0 2px;
  font-size: 1.52rem;
}
.header .header-group .social-list-group a:hover > .fa {
  color: #fff51f;
}
.header .header-group .social-list-group .fa {
  color: #fff;
  font-size: 1.52rem;
}
.content {
  max-width: 1200px;
  margin: 0 auto 30px;
  box-sizing: border-box;
}
/*Контент*/
.menu-and-content-group {
  margin: 20px auto 0;
}
.menu-and-content-group div.hidden-container {
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
}
.menu-and-content-group div.hidden-container > .main-menu-hidden-icon {
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.menu-and-content-group div.hidden-container > .main-menu-hidden-icon:hover {
  cursor: pointer;
}
.menu-and-content-group div.hidden-container > .main-menu-hidden-icon:hover + .main-menu-list {
  display: block;
  z-index: 1;
}
.menu-and-content-group div.hidden-container .main-menu-list {
  margin: 0;
  padding: 6px 0 8px;
  background-color: #26d2fc;
  position: absolute;
  width: 270px;
  top: 40px;
  left: 15px;
  display: none;
}
.menu-and-content-group div.hidden-container .main-menu-list a {
  display: block;
  position: relative;
  font-size: 1.4rem;
  line-height: 3;
  font-weight: 900;
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
  color: #333;
}
.menu-and-content-group div.hidden-container .main-menu-list a:hover {
  background-color: #333;
  color: #fff;
}
.menu-and-content-group div.hidden-container .main-menu-list .selected-menu {
  background-color: #333;
  color: #fff;
}
.menu-and-content-group div.hidden-container .main-menu-list:hover {
  display: block;
  z-index: 1;
}
.menu-and-content-group div.left-column {
  padding: 0;
  margin-left: 15px;
}
.menu-and-content-group div.left-column .main-menu {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.menu-and-content-group div.left-column .main-menu h2 {
  font-weight: 700;
  font-size: 1.3rem;
  padding: 28px 42px 19px;
  background-color: #333;
  color: #fff;
}
.menu-and-content-group div.left-column .main-menu .main-menu-list {
  margin: 0;
  padding: 6px 0 8px;
  background-color: #26d2fc;
}
.menu-and-content-group div.left-column .main-menu .main-menu-list a {
  display: block;
  position: relative;
  font-size: 1.4rem;
  line-height: 3;
  font-weight: 900;
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
  color: #333;
}
.menu-and-content-group div.left-column .main-menu .main-menu-list a:hover {
  background-color: #333;
  color: #fff;
}
.menu-and-content-group div.left-column .main-menu .main-menu-list .selected-menu {
  background-color: #333;
  color: #fff;
}
.menu-and-content-group div.left-column .banner.col-md-12 {
  padding: 0;
}
@media (min-width: 992px) {
  .menu-and-content-group div.left-column.col-md-4 {
    width: 270px;
  }
}
@media (min-width: 992px) {
  .menu-and-content-group div.right-column.col-md-8 {
    padding-left: 30px;
  }
}
.menu-and-content-group div.right-column form.contact-us {
  margin-bottom: 30px;
}
.menu-and-content-group div.right-column form.contact-us > fieldset {
  border: solid 1px #333;
  padding: 20px;
}
.menu-and-content-group div.right-column form.contact-us > fieldset legend {
  color: #333;
  text-transform: uppercase;
  border: none;
  width: 175px;
  margin: 0;
}
.menu-and-content-group div.right-column form.contact-us textarea {
  display: block;
}
.menu-and-content-group div.right-column form.contact-us input {
  margin: 15px 0;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
  font-weight: 700;
}
.menu-and-content-group div.right-column form.contact-us input:not([type="radio"]) {
  display: block;
}
.menu-and-content-group div.right-column form.contact-us input:not([type="submit"]) {
  width: 100%;
  min-width: 230px;
  max-width: 400px;
  text-transform: uppercase;
}
.menu-and-content-group div.right-column form.contact-us input[type="email"]:focus {
  background-color: rgba(38, 210, 252, 0.07);
}
.menu-and-content-group div.right-column form.contact-us input[type="radio"] {
  display: none;
}
.menu-and-content-group div.right-column form.contact-us input#radio-1 + label,
.menu-and-content-group div.right-column form.contact-us input#radio-2 + label {
  position: relative;
  padding-left: 16px;
  margin-right: 21px;
  cursor: pointer;
}
.menu-and-content-group div.right-column form.contact-us input#radio-1 + label::before,
.menu-and-content-group div.right-column form.contact-us input#radio-2 + label::before {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
  border: solid 1px #26d2fc;
}
.menu-and-content-group div.right-column form.contact-us input#radio-1 + label::after,
.menu-and-content-group div.right-column form.contact-us input#radio-2 + label::after {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #26d2fc;
  display: none;
}
.menu-and-content-group div.right-column form.contact-us input#radio-1:checked + label::after,
.menu-and-content-group div.right-column form.contact-us input#radio-2:checked + label::after {
  display: block;
}
.menu-and-content-group div.right-column form.contact-us input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.menu-and-content-group div.right-column form.contact-us input[type="submit"]:hover {
  background-color: #58a1d8;
  color: #fff;
}
.menu-and-content-group div.right-column .banner {
  margin-bottom: 25px;
}
.menu-and-content-group div.right-column .banner.col-xs-12 {
  padding: 0;
}
.menu-and-content-group div.right-column ul.address {
  margin: 10px 0 20px;
}
.menu-and-content-group div.right-column ul.address > li {
  padding: 4px 0 0 30px;
  margin-bottom: 8px;
  position: relative;
}
.menu-and-content-group div.right-column ul.address > li::before {
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 16px;
  font-family: "FontAwesome";
}
.menu-and-content-group div.right-column ul.address > li:first-child::before {
  content: "\f095";
}
.menu-and-content-group div.right-column ul.address > li:nth-child(2)::before {
  content: "\f17e";
}
.menu-and-content-group div.right-column ul.address > li:nth-child(3)::before {
  content: "\f0e0";
}
.menu-and-content-group div.right-column ul.address > li:nth-child(4)::before {
  content: "\f041";
}
.menu-and-content-group div.right-column ul.address > li:last-child::before {
  content: "\f1b9";
}
/*Футер*/
.footer {
  background-color: #373737;
}
.footer-first-line-group {
  padding: 70px 0 40px;
  max-width: 1170px;
  margin: auto;
}
.footer-first-line-group-item {
  margin-bottom: 50px;
}
.footer-first-line-group-item h2 {
  font-family: "raleway-bold", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 21px;
}
.footer-first-line-group-item li {
  line-height: 1.14;
}
.footer-first-line-group-item li > a {
  font-family: "roboto", sans-serif;
  color: #fff;
  font-size: 1.2rem;
}
.footer-first-line-group-item li > a:hover {
  text-decoration: underline;
  color: #faef03;
}
.footer-first-line-group-item p {
  font-family: "roboto", sans-serif;
  color: #fff;
  font-size: 1.2rem;
}
.footer-first-line-group .newsletter form.newsletter-subscribe {
  margin: 20px 0 45px 0;
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
}
.footer-first-line-group .newsletter form.newsletter-subscribe > input[type="email"],
.footer-first-line-group .newsletter form.newsletter-subscribe > input[type="submit"] {
  padding: 10px;
  border: none;
  text-transform: uppercase;
}
.footer-first-line-group .newsletter form.newsletter-subscribe > input[type="email"] {
  float: left;
  width: 147px;
  background-color: #fff51f;
  color: #333333;
  font-weight: 700;
}
.footer-first-line-group .newsletter form.newsletter-subscribe > input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.footer-first-line-group .newsletter form.newsletter-subscribe > input[type="submit"]:hover {
  background-color: #58a1d8;
  color: #fff;
}
.footer-first-line-group .newsletter .payment-systems > .system {
  width: 36px;
  height: 22px;
  margin-right: 8px;
  float: left;
}
.footer-first-line-group .newsletter .payment-systems > .system:last-child {
  margin-right: 0;
}
.footer-first-line-group .newsletter .payment-systems > .aex {
  background: url("../img/sprite-payment-systems.png") no-repeat 0 0;
}
.footer-first-line-group .newsletter .payment-systems > .mastercard {
  background: url("../img/sprite-payment-systems.png") no-repeat -40px 0;
}
.footer-first-line-group .newsletter .payment-systems > .maestro {
  background: url("../img/sprite-payment-systems.png") no-repeat -80px 0;
}
.footer-first-line-group .newsletter .payment-systems > .paypal {
  background: url("../img/sprite-payment-systems.png") no-repeat 0 -26px;
}
.footer-first-line-group .newsletter .payment-systems > .discover {
  background: url("../img/sprite-payment-systems.png") no-repeat -40px -26px;
}
.footer-first-line-group .newsletter .payment-systems > .visa {
  background: url("../img/sprite-payment-systems.png") no-repeat -80px -26px;
}
.footer-first-line-group .about-us .phone-and-email-group {
  display: table;
  margin: 14px 0;
}
.footer-first-line-group .about-us .phone-and-email-group > div {
  display: table-row;
  height: 32px;
}
.footer-first-line-group .about-us .phone-and-email-group > div > p {
  font-size: 1.5rem;
  display: table-cell;
}
.footer-first-line-group .about-us .phone-and-email-group > div > p:first-child {
  width: 90px;
}
.footer-first-line-group .about-us a {
  color: #faef03;
}
.footer-first-line-group .about-us a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-second-line-group {
  background-color: #333;
}
.footer-second-line-group-content {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-second-line-group-content p {
  margin: 20px 15px;
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
  color: #dad9d9;
  text-transform: uppercase;
}
.footer-second-line-group-content div.social-icons {
  margin: 20px 15px;
}
.footer-second-line-group-content div.social-icons a {
  color: #fff;
  padding: 5px;
  margin-right: 5px;
}
.footer-second-line-group-content div.social-icons a:hover > .fa {
  color: #faef03;
}
